h4 {
    text-align: left;
    padding: 0 40% 0 40%;
    align-content: center;
    color: blue;
    font-family:  "Courier New", monospace;}

h3 {
    color: green;
    font-family:  "Courier New", monospace;
}